@charset "UTF-8";

 .page{
 	width:100%;
 	position: absolute;
 	top: 50%;
 	left: 0;
 	transform: translateY(-50%);
 	text-align: center;
 }

 h1{
 	font-family: 'Alata',sans-serif;
 }
 
 .icon,h1{
 	font-size: 80px;
 }